apiVersion: kubeadm.k8s.io/{{ kubeadmConfig_api_version }}
caCertPath: {{ kube_cert_dir }}/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ master_ip }}:6443
    token: {{ token }}
    unsafeSkipCAVerification: true
  timeout: 5m0s
  tlsBootstrapToken: {{ token }}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ master_ip }}
    bindPort: 6443
{% if kubeadm_certificate_key is defined %}
  certificateKey: {{ kubeadm_certificate_key }}
{% endif %}
kind: JoinConfiguration
nodeRegistration:
  criSocket: /var/run/dockershim.sock
  name: {{ inventory_hostname }}